$background-color: #54a5c4;
$secondary-background-color: #a8e7ff;
$font-color: #535353;
$primary-color: #349dc7;
$secondary-color: #297b9b;
$accent-color: #c3073f;
$font-stack: Arial, Helvetica, sans-serif;
