@import "_variables";
@import "main";

body {
  @include center-body;
  overflow: hidden;
}

input {
  color: $text1 !important;
}

button {
  width: 100%;
}

.form-holder {
  display: grid;
  place-items: center;
  min-height: calc(100vh - 45vh);
  width: 85%;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  background-color: $surface2;
}

form {
  width: 80%;
}

form > h1 {
  color: $text1;
}

form > a {
  color: $text1;
}

form > h1 > a {
  float: right;
  font-size: 0.7em;
  color: $text1;
}

@media (min-width: $mui-screen-md-min) {
  .form-holder {
    width: 40%;
  }
}
