# workspace folders
/.vscode

# node_modules, bower, dist folders
/node_modules
/bower_components
/dist

# ENVIRONMENT variables
.env

# service account on mysql db for the application
/sql/CreateUser.sql